$darkBlue: #1c1427;
$dark: #080211;
$blue: #40394a;
$green: #7eca9c;
$lightGreen: #ccffbd;

.container-fluid {
  position: absolute;
  z-index: 10;
}

.complete {
  width: 100%;

  .tran {
    background-color: $dark;
    height: 100vh;
    width: 100%;
    float: right;
    animation: hideScreenEnd 1s;
    animation-fill-mode: both;
  }
}

@keyframes hideScreenEnd {
  0% {
    width: 100%;
  }

  10% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
