::ng-deep body {
  font-weight: 500;
  background: #efecdb;
  color: #5d4037;
}
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
.external {
  overflow: hidden;
  height: 100vh;
}

.horizontal-scroll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  transform: rotate(-90deg) translate3d(0, -100vh, 0);
  transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  height: 100vw;
  perspective: 1px;
  transform-style: preserve-3d;
  padding-bottom: 10rem;
}

.scroll-info,
header {
  position: absolute;
  left: 1rem;
}

header {
  bottom: 1rem;
}
.scroll-info {
  top: 1rem;
}
a {
  color: inherit;
  font-weight: 500;
}
h1 {
  font-weight: 300;
  font-size: 1rem;
}

a:hover img {
  filter: none;
}
p {
  margin: 0;
}
.scroll-info {
  display: flex;
  align-items: center;
}

.networks {
  font-size: 30px;
  padding-right: 10px;
}

.simple-img {
  width: 90vw;
  border: 12px solid #efecdb;
  box-shadow: 0 10px 50px #5f2f1182;
}

.name,
.photo,
.email-label {
  cursor: pointer;
  text-decoration: none;
}
