<app-header></app-header>
<app-layout
  [title]="'How Long Until...'"
  [description]="'Simple app that show how long until a event, right now there are only 2 event, World Cup and GTA VI'"
  [tecnologies]="'Plain HTML CSS and JS'"
  [extraMessage]="'take a look :D'"
  [link]="'https://howlonguntil.today/'"
  [screenshots]="['assets/screenshots/h1.png','assets/screenshots/h2.png','assets/screenshots/h3.png']"
/>
<app-layout
  [title]="'Te Fabricamos tu remolque'"
  [description]="'It is a simple landing page that I build to my father, the idea was start a company of trailers... thats was the idea until I check and here in Colombia, there are some limitations and restrictions about trailers (Ilegal) but I can use that page to create another landings ;D, the landing is Spanish'"
  [tecnologies]="'Angular - PrimeNg'"
  [extraMessage]="'take a look :D (you have to sign in vercel)'"
  [link]="'https://te-fabricamos-remolques.vercel.app/landing'"
  [screenshots]="['assets/screenshots/t1.png','assets/screenshots/t2.png','assets/screenshots/t3.png','assets/screenshots/t4.png','assets/screenshots/t5.png']"
/>
<app-layout
  [title]="'Learn English Rules'"
  [description]="'App to learn gramatically english rules, I store locally the progress'"
  [tecnologies]="'Ionic - Angular'"
  [extraMessage]="'in progress (you have to sign in vercel)'"
  [link]="'https://learn-english-rules.vercel.app/tabs/practice'"
  [screenshots]="['assets/screenshots/l1.png','assets/screenshots/l2.png','assets/screenshots/l3.png']"
/>
<app-layout
  [title]="'PokeApp-v2'"
  [description]="'A simple pokemon app to learn signals and Ngrx new patters consuming the famous PokeAPI'"
  [tecnologies]="'Angular - Signals - NgRx - RxJS'"
  [extraMessage]="'in progress (you have to sign in vercel)'"
  [link]="'https://poke-app-v2-xi.vercel.app/welcome'"
  [screenshots]="['assets/screenshots/p1.png','assets/screenshots/p2.png','assets/screenshots/p3.png']"
/>

<app-oriun></app-oriun>
