<app-load-screen-end *ngIf="show == true"></app-load-screen-end>
<app-header></app-header>
<div class="oriun">
  <div class="container-fluid">
    <div class="row pt-5 justify-content-center align-items-center">
      <div class="col-md-6 col-11 columns py-5">
        <h2 class="title">Rassking</h2>
        <p class="description">
          Platformer game to break own records with house music, it is in a very
          early stage (I read all the reviews), the announcements are to support
          and improve the game.
        </p>
        <h4 class="technologies my-0">Technologies and Tools:</h4>
        <p class="tech">Unity 2020 - C# - Adobe Photoshop</p>
        <a
          class="link justify-content-center"
          href="https://play.google.com/store/apps/details?id=com.JDStudios.RassKingBall&hl=es_CO&gl=US"
          ><img src="assets/play.png" alt=""
        /></a>
      </div>
      <div class="col-md-6 col-11 px-5">
        <a
          href="https://play.google.com/store/apps/details?id=com.JDStudios.RassKingBall&hl=es_CO&gl=US"
          class="justify-content-center align-items-center"
        >
          <img src="assets/raskin.jpg" alt="" class="iconmemo" />
        </a>
      </div>
    </div>
  </div>
</div>
