$darkBlue: #1c1427;
$dark: #080211;
$blue : #40394A;
$green :#7ECA9C;
$lightGreen: #CCFFBD;
$red: #e1306c;

.container-fluid {
  background-color: $darkBlue;
  height: 100%;
  width: 100%;
  min-height: 100vh;

  .row {
    min-height: 500px;
  }

  .columns {
    padding-left: 10%;
    padding-right: 10%;

    .link {
      text-decoration: none;
      color: $lightGreen;

      &:hover {
        animation: glow .5s linear infinite .5s;
      }
    }

    .title {
      color: $green;
      font-size: 50px;
      animation: glow 2500ms linear infinite 2000ms;
    }

    .description {
      color: $lightGreen
    }

    .technologies {
      color: $red;

      &:hover {
        animation: glitch 1s linear infinite;
      }
    }

    .tech {
      color: $green;
    }
  }


  .bord {
    box-shadow: 1.5rem 1.5rem $dark;
  }

  .carsli {
    margin-right: 80px;
  }

  @media (max-width: 766px) {
    .carsli {
      margin-right: 0px;
    }
  }

  @keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }


  @keyframes glitch {

    2%,
    64% {
      transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
      transform: translate(-2px, 0) skew(0deg);
    }

    62% {
      transform: translate(0, 0) skew(5deg);
    }
  }
}
