.masonry-demo {
  height: auto;
  min-height: 100vh;
  width: auto;
  padding-left: 10px;
  background-color: #efecdb;
}
.shadow-card {
  border: 7px solid #efecdb;
  box-shadow: 0 5px 30px #5f2f1182;
}
