.container-fluid {
  background-color: #efecdb;
  height: 100px;
  width: 100%;
}

.titlea {
  text-decoration: none;

  .title {
    color: #5d4037;
    font-size: 30px;
  }

  .subtitle {
    color: #5d4037;
    font-size: 15px;
  }
}

.masonry-demo {
  height: auto;
  min-height: 100vh;
  width: auto;
  padding-left: 10px;
  background-color: #efecdb;
}

.information {
  height: 300px;
  background-color: red;
}
.networks {
  color: #5d4037;

  font-size: 30px;
  padding-right: 10px;
}
a,
.photo {
  cursor: pointer;
}
