<app-load-screen-end *ngIf="show == true"></app-load-screen-end>
<app-header></app-header>
<div class="oriun">
  <div class="container-fluid">
    <div class="row pt-5 justify-content-center align-items-center">
      <div class="col-md-6 col-11 columns py-5">
        <h2 class="title">Memophoto</h2>
        <p class="description">
          Game that helps to develop eidetic memory or photographic memory with
          a simple game of memorizing random figures, the objective will be to
          find the figure that does not correspond to the original figure.
        </p>
        <h4 class="technologies my-0">Technologies and Tools:</h4>
        <p class="tech">Unity 2020 - C# - Adobe Photoshop</p>
        <a
          class="link justify-content-center"
          href="https://t.co/EXZHE4TNsY?amp=1"
          target="_blank"
          ><img src="assets/play.png" alt=""
        /></a>
      </div>
      <div class="col-md-6 col-11 px-5">
        <a
          href="https://t.co/EXZHE4TNsY?amp=1"
          class="justify-content-center align-items-center"
          target="_blank"
        >
          <img src="assets/memologo.png" alt="" class="iconmemo" />
        </a>
      </div>
    </div>
  </div>
</div>
